

body {
  background-color: #272B30;
  margin: 5%;
}


.create_container {
  border-radius: 5px;
  background-color: #010915;
  margin: 18px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #010915;
}

.dcc_compon {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}


#title {
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
